html {
    height: 100%;
}

#body.container {
    padding: 50px 0 202px 0;
}

body {
    font-family: 'Ubuntu', cursive;
    font-weight: bold;
    position: relative;
    min-height: 100vh;
    background-image: url('/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* color: #5e3718; */
}

header .jumbotron {
    box-shadow: 0 0 15px #5e3718;
    background-color: #ffffffb2;
    color: #5e3718;
    border-radius: 0;
    margin: 0;
}

header a {
    text-shadow: 0 0 2px #5e3718;
    color: #000;
}

header a:hover {
    text-shadow: 0 0 7px #5e3718;
    color: #525252;
    text-decoration: none;
}

#header-responsive {
    display: none;
}

#fill {
    background-color: #ffffff8a;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.custom_body {
    padding: 10px;
    background-color: #ffffffe5;
    border-radius: 20px;
    box-shadow: 0 0 15px #5e3718;
}

footer .jumbotron {
    box-shadow: 0 0 15px #5e3718;
    margin: 0;
    background-color: #ffffffbd;
    border-radius: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 152px;
    text-shadow: 0 0 5px #5e3718;
    color: #000;
}
input, select, textarea {
    box-shadow: 0 0 5px #5e3718;
}

input:focus, select:focus, textarea:focus {
    border: none !important;
    box-shadow: 0 0 10px #5e3718, inset 0 0 5px #5e3718 !important;
}

button[type=submit], .btn-primary {
    border: none !important;
    background-color: #5e3718 !important;
    box-shadow: 0 0 5px #5e3718 !important;
} 

button[type=submit]:hover , button[type=submit]:active, button[type=submit]:focus, .btn-primary:hover, .btn-primary:active, .btn-primary:hover {
    border: none !important;
    background-color: #5e3718 !important;
    box-shadow: 0 0 10px #5e3718 !important;
    text-shadow: 0 0 3px #000 !important;
}

button[type=submit]:focus {
    box-shadow: 0 0 10px #5e3718;
}

a.forgot_password_text {
    font-size: 0.7em;
    color: #000;
}

a.forgot_password_text:hover {
    text-decoration: none;
}

#register_birthday select, #profil_birthday select {
    margin-right: 10px;
}

#sharing a i {
    color: #000;
    font-size: 3em;
    margin-left: 10px;
}

#sharing a i:hover {
    color: #525252;
    text-shadow: 0 0 7px #000;
}

img {
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
}

img:hover {
    box-shadow: 0 0 20px #000;
}

#reservation_app_react {
    height: 800px;
}

.custom-arrow {
    box-shadow: 0 0 5px #5e3718;
    margin: 20px;
    border-radius: 50%;
}

.custom-arrow:hover {
    box-shadow: 0 0 10px #5e3718;
}

.custom-arrow:focus {
    box-shadow: 0 0 10px #5e3718;
}

input:focus {
    outline: none;
}

#admin-nav .nav-link {
    box-shadow: 0 0 5px #5e3718;
    margin: 10px;
    border-radius: 5px;
    color: #000;
}

#admin-nav .nav-link.active {
    background-color: #5e3718;
    color: #fff;
}

#admin-nav .nav-link:hover {
    box-shadow: 0 0 10px #5e3718;
    background-color: #5e38186e;
}

#unavailability_end select, #unavailability_start select {
    margin: 0 5px 0 5px;
}