#staff_list ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#staff_list li {
    width: 200px;
    text-align: center;
    color: #000;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#staff_list li.selected {
    border: 1px solid #000;
    box-shadow: 3px 3px 3px #000;
}


#date {
    display: flex;
    justify-content: center;
}
#prestation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#prestation li {
    width: 200px;
    text-align: center;
    color: #000;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#prestation li.selected {
    border: 1px solid #000;
}


#calendar .staff {
    position: absolute;
    height: 500px;
}
.slot {
    width: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    text-align: center;
    position: relative;
}

.available:hover {
    cursor: pointer;
    z-index: 2;
}
#place_modal {
    
}
#date_modal .modal-body div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#date_modal .modal-body div>* {
    flex: 1 1 100px;
}
#date_modal .month {
    margin: 10px;
}
#staff_modal li {
    border-radius: 10px;
    list-style: none;
    color: #000;
    margin: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
#staff_modal li:hover {
    background-color: #7e5e44;
}
#staff_modal li.selected {
    background-color: #5e3718;
    color: #fff;
}
#staff_modal em {
    font-size: 0.8em;
}
#prestation_modal li {
    border-radius: 10px;
    list-style: none;
    color: #000;
    margin: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
#prestation_modal li:hover {
    background-color: #7e5e44;
}
#prestation_modal li.selected {
    background-color: #5e3718;
    color: #fff;
}
#prestation_modal em {
    font-size: 0.8em;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vc3RhZmZfbGlzdC5jc3MiLCJ3ZWJwYWNrOi8vL2RhdGUuY3NzIiwid2VicGFjazovLy9wcmVzdGF0aW9uLmNzcyIsIndlYnBhY2s6Ly8vc3RhZmYuY3NzIiwid2VicGFjazovLy9zbG90LmNzcyIsIndlYnBhY2s6Ly8vcGxhY2VfbW9kYWwuY3NzIiwid2VicGFjazovLy9kYXRlX21vZGFsLmNzcyIsIndlYnBhY2s6Ly8vc3RhZmZfbW9kYWwuY3NzIiwid2VicGFjazovLy9wcmVzdGF0aW9uX21vZGFsLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtJQUNJLGdCQUFnQjtJQUNoQixhQUFhO0lBQ2IsNkJBQTZCO0FBQ2pDOztBQUVBO0lBQ0ksWUFBWTtJQUNaLGtCQUFrQjtJQUNsQixXQUFXO0lBQ1gsWUFBWTtJQUNaLFdBQVc7SUFDWCxtQkFBbUI7SUFDbkIsZUFBZTtBQUNuQjs7QUFFQTtJQUNJLHNCQUFzQjtJQUN0Qiw0QkFBNEI7QUFDaEM7OztBQ25CQTtJQUNJLGFBQWE7SUFDYix1QkFBdUI7QUFDM0IsQztBQ0hBO0lBQ0ksZ0JBQWdCO0lBQ2hCLGFBQWE7SUFDYiw2QkFBNkI7QUFDakM7O0FBRUE7SUFDSSxZQUFZO0lBQ1osa0JBQWtCO0lBQ2xCLFdBQVc7SUFDWCxZQUFZO0lBQ1osV0FBVztJQUNYLG1CQUFtQjtJQUNuQixlQUFlO0FBQ25COztBQUVBO0lBQ0ksc0JBQXNCO0FBQzFCOzs7QUNsQkE7SUFDSSxrQkFBa0I7SUFDbEIsYUFBYTtBQUNqQixDO0FDSEE7SUFDSSxXQUFXO0lBQ1gsbUJBQW1CO0lBQ25CLGFBQWE7SUFDYixzQkFBc0I7SUFDdEIsOEJBQThCO0lBQzlCLFVBQVU7SUFDVixrQkFBa0I7SUFDbEIsa0JBQWtCO0FBQ3RCOztBQUVBO0lBQ0ksZUFBZTtJQUNmLFVBQVU7QUFDZCxDO0FDZEE7O0FBRUEsQztBQ0ZBO0lBQ0ksYUFBYTtJQUNiLDZCQUE2QjtJQUM3QixlQUFlO0FBQ25CO0FBQ0E7SUFDSSxlQUFlO0FBQ25CO0FBQ0E7SUFDSSxZQUFZO0FBQ2hCLEM7QUNWQTtJQUNJLG1CQUFtQjtJQUNuQixnQkFBZ0I7SUFDaEIsV0FBVztJQUNYLFdBQVc7SUFDWCxZQUFZO0lBQ1osa0JBQWtCO0lBQ2xCLGVBQWU7QUFDbkI7QUFDQTtJQUNJLHlCQUF5QjtBQUM3QjtBQUNBO0lBQ0kseUJBQXlCO0lBQ3pCLFdBQVc7QUFDZjtBQUNBO0lBQ0ksZ0JBQWdCO0FBQ3BCLEM7QUNsQkE7SUFDSSxtQkFBbUI7SUFDbkIsZ0JBQWdCO0lBQ2hCLFdBQVc7SUFDWCxXQUFXO0lBQ1gsWUFBWTtJQUNaLGtCQUFrQjtJQUNsQixlQUFlO0FBQ25CO0FBQ0E7SUFDSSx5QkFBeUI7QUFDN0I7QUFDQTtJQUNJLHlCQUF5QjtJQUN6QixXQUFXO0FBQ2Y7QUFDQTtJQUNJLGdCQUFnQjtBQUNwQixDIiwiZmlsZSI6IkFwcC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIjc3RhZmZfbGlzdCB1bCB7XG4gICAgbGlzdC1zdHlsZTogbm9uZTtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGp1c3RpZnktY29udGVudDogc3BhY2UtYXJvdW5kO1xufVxuXG4jc3RhZmZfbGlzdCBsaSB7XG4gICAgd2lkdGg6IDIwMHB4O1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICBjb2xvcjogIzAwMDtcbiAgICBwYWRkaW5nOiA1cHg7XG4gICAgbWFyZ2luOiA1cHg7XG4gICAgYm9yZGVyLXJhZGl1czogMTBweDtcbiAgICBjdXJzb3I6IHBvaW50ZXI7XG59XG5cbiNzdGFmZl9saXN0IGxpLnNlbGVjdGVkIHtcbiAgICBib3JkZXI6IDFweCBzb2xpZCAjMDAwO1xuICAgIGJveC1zaGFkb3c6IDNweCAzcHggM3B4ICMwMDA7XG59XG5cbiIsIiNkYXRlIHtcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGp1c3RpZnktY29udGVudDogY2VudGVyO1xufSIsIiNwcmVzdGF0aW9uIHVsIHtcbiAgICBsaXN0LXN0eWxlOiBub25lO1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1hcm91bmQ7XG59XG5cbiNwcmVzdGF0aW9uIGxpIHtcbiAgICB3aWR0aDogMjAwcHg7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGNvbG9yOiAjMDAwO1xuICAgIHBhZGRpbmc6IDVweDtcbiAgICBtYXJnaW46IDVweDtcbiAgICBib3JkZXItcmFkaXVzOiAxMHB4O1xuICAgIGN1cnNvcjogcG9pbnRlcjtcbn1cblxuI3ByZXN0YXRpb24gbGkuc2VsZWN0ZWQge1xuICAgIGJvcmRlcjogMXB4IHNvbGlkICMwMDA7XG59XG5cbiIsIiNjYWxlbmRhciAuc3RhZmYge1xuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICBoZWlnaHQ6IDUwMHB4O1xufSIsIi5zbG90IHtcbiAgICB3aWR0aDogODBweDtcbiAgICBib3JkZXItcmFkaXVzOiAxMHB4O1xuICAgIGRpc3BsYXk6IGZsZXg7XG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XG4gICAgei1pbmRleDogMTtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xufVxuXG4uYXZhaWxhYmxlOmhvdmVyIHtcbiAgICBjdXJzb3I6IHBvaW50ZXI7XG4gICAgei1pbmRleDogMjtcbn0iLCIjcGxhY2VfbW9kYWwge1xuICAgIFxufSIsIiNkYXRlX21vZGFsIC5tb2RhbC1ib2R5IGRpdiB7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcbiAgICBmbGV4LXdyYXA6IHdyYXA7XG59XG4jZGF0ZV9tb2RhbCAubW9kYWwtYm9keSBkaXY+KiB7XG4gICAgZmxleDogMSAxIDEwMHB4O1xufVxuI2RhdGVfbW9kYWwgLm1vbnRoIHtcbiAgICBtYXJnaW46IDEwcHg7XG59IiwiI3N0YWZmX21vZGFsIGxpIHtcbiAgICBib3JkZXItcmFkaXVzOiAxMHB4O1xuICAgIGxpc3Qtc3R5bGU6IG5vbmU7XG4gICAgY29sb3I6ICMwMDA7XG4gICAgbWFyZ2luOiA1cHg7XG4gICAgcGFkZGluZzogNXB4O1xuICAgIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgICBjdXJzb3I6IHBvaW50ZXI7XG59XG4jc3RhZmZfbW9kYWwgbGk6aG92ZXIge1xuICAgIGJhY2tncm91bmQtY29sb3I6ICM3ZTVlNDQ7XG59XG4jc3RhZmZfbW9kYWwgbGkuc2VsZWN0ZWQge1xuICAgIGJhY2tncm91bmQtY29sb3I6ICM1ZTM3MTg7XG4gICAgY29sb3I6ICNmZmY7XG59XG4jc3RhZmZfbW9kYWwgZW0ge1xuICAgIGZvbnQtc2l6ZTogMC44ZW07XG59IiwiI3ByZXN0YXRpb25fbW9kYWwgbGkge1xuICAgIGJvcmRlci1yYWRpdXM6IDEwcHg7XG4gICAgbGlzdC1zdHlsZTogbm9uZTtcbiAgICBjb2xvcjogIzAwMDtcbiAgICBtYXJnaW46IDVweDtcbiAgICBwYWRkaW5nOiA1cHg7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGN1cnNvcjogcG9pbnRlcjtcbn1cbiNwcmVzdGF0aW9uX21vZGFsIGxpOmhvdmVyIHtcbiAgICBiYWNrZ3JvdW5kLWNvbG9yOiAjN2U1ZTQ0O1xufVxuI3ByZXN0YXRpb25fbW9kYWwgbGkuc2VsZWN0ZWQge1xuICAgIGJhY2tncm91bmQtY29sb3I6ICM1ZTM3MTg7XG4gICAgY29sb3I6ICNmZmY7XG59XG4jcHJlc3RhdGlvbl9tb2RhbCBlbSB7XG4gICAgZm9udC1zaXplOiAwLjhlbTtcbn0iXSwic291cmNlUm9vdCI6IiJ9*/