{% extends 'base.html.twig' %}

{% block body %}
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus delectus aperiam dignissimos. Consectetur cupiditate dolorem iure? Ex, suscipit? Repellat rerum dolor officia facilis dignissimos nobis ex tenetur numquam doloribus consequuntur!
    Commodi, totam minima eius, nemo facilis debitis at magnam ipsum tempora incidunt quod doloribus deleniti voluptates dolorem quas omnis illo! Placeat maxime provident corporis ratione dolorum nesciunt dicta obcaecati perferendis?
    Aspernatur nobis explicabo ex impedit cumque suscipit adipisci voluptate voluptatum atque expedita! Quia, aspernatur, tenetur consequatur quo earum minima, modi debitis libero velit facere doloremque? Veniam modi nesciunt nostrum amet.
    Alias blanditiis deleniti maxime facere est modi eius placeat! Autem doloribus accusantium laborum consequatur nobis sit quasi aliquam sequi! Unde, dolore est cupiditate voluptatibus distinctio aliquam qui! Iusto, blanditiis in?
    Soluta aliquid consequatur voluptatem quaerat, qui quae. Est voluptatum ducimus quasi saepe ipsum repellendus. Accusantium, eaque? Odio animi incidunt debitis omnis, asperiores impedit esse cupiditate nemo dolorum ea in repellendus.
    Hic fugiat modi accusamus error. Reiciendis eligendi distinctio deserunt consequatur inventore corrupti necessitatibus delectus, provident perferendis unde. Ipsam voluptas expedita, doloremque labore iure eius suscipit quo incidunt quae esse in?
    Debitis delectus iste quasi modi cumque adipisci? Debitis esse, corrupti dicta sit excepturi iure animi nobis, reprehenderit accusamus enim odit et at ab deleniti modi minus? Et, quae. Odit, odio?
    Iure laudantium distinctio atque. Rem omnis nam consequatur labore iste, vero ullam libero dolorem aliquam quis ipsam est voluptate atque aut quod, odit hic fugiat beatae nihil repellendus. Provident, eaque?
    Distinctio amet, minus animi voluptatum est facere placeat. Enim incidunt vel, quae nostrum, ullam minus ducimus perspiciatis cumque aspernatur molestias numquam quidem exercitationem odio magni alias architecto, beatae atque esse!
    Natus dignissimos quo quidem atque, quas nam. Facere officia laudantium mollitia velit accusamus! Eum recusandae, vitae sit debitis hic officiis iste quaerat molestiae odit, illo ipsam a labore laudantium dolores.</p>
{% endblock %}
