{% extends 'base.html.twig' %}

{% block body %}
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus delectus aperiam dignissimos. Consectetur cupiditate dolorem iure? Ex, suscipit? Repellat rerum dolor officia facilis dignissimos nobis ex tenetur numquam doloribus consequuntur!
    Commodi, totam minima eius, nemo facilis debitis at magnam ipsum tempora incidunt quod doloribus deleniti voluptates dolorem quas omnis illo! Placeat maxime provident corporis ratione dolorum nesciunt dicta obcaecati perferendis?
    Aspernatur nobis expli
    Quis accusantium repudiandae eos sit vel? Cumque corrupti temporibus consequuntur quo voluptatum quis. Nemo illo non nam, aut ipsa possimus itaque perferendisoluptatum quibusdam reprehenderit architecto explicabo, illo impedit totam suscipit velit porro consequuntur consequatur assumenda at tempora nobis qui fugit fugiat praesentium repudiandae!
    Quibusdam, ipsa, fugiat rerum iste illum praesentium alias laborum dolore maiores quod consequuntur ex delectus aspernatur ullam! Minus dolor, dolorem consequatur voluptate quos, consectetur aspernatur iure explicabo alias maiores dicta!
    Rerum dicta quo voluptates cumque eveniet facilis obcaecati in accusantium iusto? Totam, obcaecati, esse provident quo atque recusandae ullam 
    Corporis necessitatibus, rerum libero eum assumenda laudantium blanditiis soluta excepturi architecto sint, doloremque delectus nam mollitia ad beatae, quam debitis ipsa dicta. Minima sequi quis rem error, quisquam esse architecto.
    Corporis expedita repellendus sint aliquid vel doloribus dolores eum nam maior</p>
{% endblock %}
