<div class="container">
    <h1 class="text-center">Administration manager</h1>

    <nav class="nav justify-content-center">
      <a class="nav-link active" href="{{ path('admin_index') }}">Salon management</a>
      <a class="nav-link" href="{{ path('admin_prestations') }}">Prestations management</a>
      {# <a class="nav-link" href="{{ path('admin_users') }}">Users management</a>
      <a class="nav-link" href="{{ path('admin_reservations') }}">Reservations management</a> #}
    </nav>
</div>