{% extends 'base.html.twig' %}

{% block body %}

{% include "admin/admin_header.html.twig" %}

<div class="container">
    <p>Salon is open from {{ opened.start }} to {{ opened.end }}</p>
</div>

{% endblock %}
