#prestation ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#prestation li {
    width: 200px;
    text-align: center;
    color: #000;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#prestation li.selected {
    box-shadow: 0 0 5px #5e3718;
    background-color: #d1d1d1;
}

#prestation li:hover {
    box-shadow: 0 0 10px #5e3718;
}

