.slot {
    width: 80px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    text-align: center;
    position: relative;
}

.slot.available {
    box-shadow: 0 0 5px #5e3718;
}

.available:hover {
    cursor: pointer;
    z-index: 2;
}