#staff_list ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

#staff_list li {
    width: 200px;
    text-align: center;
    color: #000;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#staff_list li.selected {
    box-shadow: 0 0 5px #5e3718;
}

#staff_list li:hover {
    box-shadow: 0 0 10px #5e3718;
}

