#staff_modal li {
    border-radius: 10px;
    list-style: none;
    color: #000;
    margin: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
#staff_modal li:hover {
    background-color: #7e5e44;
}
#staff_modal li.selected {
    background-color: #5e3718;
    color: #fff;
}
#staff_modal em {
    font-size: 0.8em;
}