<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot password</title>
</head>
<body>
    <h3>Hello {{ firstName }}</h3>
    <p>You have made the request to change password, if it is not you, please click on the link below :</p>
    <a href="{{ url('home') }}">Is not me (Out of service)</a>
    <p>Please follow this link for resetting your password</p>
    <a href="{{ url }}">Change password</a>
</body>
</html>