<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot password</title>
</head>
<body>
    <h3>Hello {{ firstName }}</h3>
    <p>you have made the request to change password, if it is not you please click on the link below :</p>
    <a href="{{ url('home') }}">Is not me (Out of service)</a>
    <p>Below is your unique code valid for 30 minutes to count from the time of the request.</p>
    <h5>{{ code }}</h5>
    <p>Please enter your code and enter your new password in this link</p>
    <a href="{{ url('security_forgot', {id: user.id}) }}">Change password</a>
    <p>If you exceed the time the password will not be changed</p>
</body>
</html>